.call-to-action {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(0, min(100%/2, max(100%/3))));
  justify-content: center;
  padding: 60px 0;
  color: #fff;
  width: 100%;
  background-color: #495e57;
}

.section-right img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 15px 30px;
  font-size: 16pt;
  font-weight: 600;
  background-color: #f4ce14;
  color: #333333;
  border-radius: 20px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #333333;
  color: #f4ce14;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .call-to-action {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 60px 50px 60px 50px;
    color: #fff;
    width: 100%;
    background-color: #495e57;
  }
  .section-right {
    margin: auto;
  }
  .section-right img {
    width: 80%;
    height: auto;
  }
}
